
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:1;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out

}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .6s linear;
transition:all .6s linear;
}

.hovereffect h2 {
opacity:1;
color:#fff;
width:auto;
text-align:center;
font-family: 'Open Sans', sans-serif;
position:relative;
font-size:2vw;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(0px);
-ms-transform:translatey(0px);
transform:translatey(0px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.1);
-webkit-transform:scale(1.1);
transform:scale(1.1);
}

.hovereffect:hover .overlay {
opacity:0;
filter:alpha(opacity=0);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.5s;
transition-delay:.5s;
}

/* not quite 33.3% */
.grid-item { width: 25%; }

/* images cover up the gap */
.grid-item img { width: 100.5%; }
